<!--TODO:
Add loader in registration form submission which renders
load till server return success form submission response.-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="UTF-8">
<title>This is the Loader Page</title>
<!--<img class="load" th:src="@{'/images/Preload.gif'}">-->
<link th:href="@{'/stylesheets/loader.css'}" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{'/javascript/loader.js'}"></script>

</head>
<body>
<div>
    <fieldset>
        <form th:object="${employee}" method="get">

            <p>ID:<input type="text" th:field="*{id}"></p>
            <p>Name:<input type="text" th:field="*{name}"></p>
            <p>Age:<input type="text" th:field="*{age}"></p>
            <p>Salary:<input type="number" th:field="*{salary}"></p>
            <div id="test">
                <input type="submit" value="Register">
            </div>

            <div class="load">
                <img th:src="@{'/images/Preload.gif'}" alt="image">
            </div>
        </form>
    </fieldset>
</div>
</body>
</html>