<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../stylesheet/bootstrap.min.css" rel="stylesheet"/>
    <link href="../stylesheet/ionicons.min.css" rel="stylesheet"/>
    <link href="../stylesheet/style.css" rel="stylesheet"/>

    <script>
        $(document).ready(function () {
            $("#karmaOne").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#karmaTwo").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#karmaThree").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#karmaFour").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#karmaFive").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#karmaSix").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });

            $("#mentorship1").click(function () {
                var text = jQuery(this).attr("data-text");
                console.log(text);
                $("#mainReason").text(text);
            });
            $("#mentorship2").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#mentorship3").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#mentorship4").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#mentorship5").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#mentorship6").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
            $("#mentorship7").click(function () {
                var text = this.value;
                $("#mainReason").text(text);
            });
        });

        function show(value) {
            document.getElementById('mainReason').style.display = "block";
            document.getElementById('extraMiler').style.display = "none";
            document.getElementById('showMentorship').style.display = "none";

        }

                    }))
                },
                error: function (xhr, status, error) {
                    alert("error");
                }
            })
        }
    })
</script>
<body>
<header>
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container" method="GET">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="../images/reap.png"/>
            </a>
            <img src="../images/reapfullimage.png"/>
            <!-- / -->
            <!-- Top Menu -->
            <div class="navbar-collapse top-menu flex-column collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="#home"><img src="../svg/si-glyph-dashboard.svg"
                                                              class="glyphyicon">Dashboard</a></li>
                    <li><a class="nav-link active" href="#about"><img src="../svg/si-glyph-medal-star.svg"
                                                                      class="glyphyicon">Badges</a></li>
                    <li><a class="nav-link" href="#services"><img src="../svg/si-glyph-light-bulb.svg"
                                                                  class="glyphyicon">Idea</a></li>
                </ul>

            </div>
            <!-- / -->

        </div><!-- Container -->
    </nav> <!-- Navbar -->
    <section class="section" name="Section1" style="padding-top: 30px; padding-bottom: 20px !important;">
        <div class="container container-custom">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-img-top card-header" style="background-color: #0e5a80;">
                            <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i>
                            Recongnize Karma

                        </div>
                        <div class="card-body">
                            <form id="recognize-form" role="form" th:action="@{/dashboard}" th:object="${userRecognize}"
                                  class="form" method="post">
                            <span class="card-text">
                                <div class="input-group m-3" style="width:85%">
                                    <div class="input-group-prepend" th:object="${recognize}">
                                        <span class="input-group-text" id="basic-addon1"><img
                                                src="../svg/si-glyph-person-2.svg"
                                                class="glyphyicon"/></span>
                                    </div>
                                    <input type="text" class="form-control xs-3" placeholder="Username" name="firstname"
                                           aria-label="Username" aria-describedby="basic-addon1">
                                    <select style="margin-left:30px" name="countRecognize">
                                        <option value="" selected> Select a Badge </option>
	  	                                <option value="Gold"> Gold(2) </option>
	  	                                <option value="Silver"> Silver(4) </option>
                                        <option value="Bronze"> Bronze(6) </option>
                                    </select>
                                    <select style="margin-left:30px" name="karma">
	                                    <option value="" selected> Select a Karma/Core Value </option>
                                        <option value="Karma: Extra Miler">Karma: Extra Miler</option>
                                        <option value="Karma: Knowledge Sharing">Karma: Knowledge Sharing</option>
                                        <option value="Karma: Mentorship">Karma: Mentorship</option>
                                        <option value="Karma: Pat on the back">Karma: Pat on the back</option>
                                        <option value="Karma: Customer Delight">Karma: Customer Delight</option>
                                        <option value="Core Value: Continuous Learning and Improvement">Core Value: Continuous Learning and Improvement</option>
                                        <option value="Core Value: Contribution">Core Value: Contribution</option>
                                        <option value="Core Value: Diligence<">Core Value: Diligence</option>
                                        <option value="Core Value: Empathy">Core Value: Empathy</option>
                                        <option value="Core Value: Openness to Feedback and Change">Core Value: Openness to Feedback and Change</option>
                                        <option value="Core Value: Responsible Freedom">Core Value: Responsible Freedom</option>
                                    </select>
                                    </div>
                            </span>
                                <div stlye="font-weight:200;"> Reason</div>
                                <textarea rows="3" cols="90" class="m-3"
                                          name="reason"> Please specify a reason! </textarea>
                                <input type="Submit" value="Recognize" style="float:right !important;"
                                       class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-md-2 sm-m-30px-t">
                    <div class="card" style="width: 19rem;">
                        <div class="card-img-top card-header" style="background-color: #0e5a80;">
                            <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i> My
                            Badges
                        </div>

                        <div class="card-body">
                            <img src="" height="50px" width="50px" / class="badgeImage">
                            <!-- <h6>
                                 <div class="card-title" th:utext="${userData.firstname}"></div>
                             </h6>-->
                            <!-- <tr th:each="badge: ${userBadge}">

                                 <td th:text="${badge.count}"></td><i class="ion ion-ios-star-half"
                                                                      style="padding-left:15px; padding-right:5px; color:gold;"> </i>
                             </tr>-->

                            <!--    <td th:text="${badge.count}"></td>
                                <i class="ion ion-ios-star-half"
                                   style="padding-left:15px; padding-right:5px; color:silver;"> </i>
                                <i>0</i>
                                <i class="ion ion-ios-star-half"
                                   style="padding-left:15px; padding-right:5px; color:brown;"> </i>
                                <i>0</i>-->
                        </div>
                    </div>

                </div>

            </div><!-- row -->
        </div>
    </section>

    <section class="section" name="section 2" style="margin-top:10px !important; padding-top:0px !important;">
        <div class="container container-custom">
            <div class="row">
                <div class="col-md-10">
                    <div class="card" style="width: 55rem;">
                        <div class="card-img-top card-header" style="background-color: #0e5a80;">
                            <i class="icon ion-md-save" style="padding-left:15px; padding-right:5px;"> </i> Wall Of Fame
                        </div>
                        <div class="card-body">

                            <div class="newersBoardImage">
                                <img src="" height="50px" width="50px" class="badgeImage">
                                <b>Shweta Sharma</b> has received from <b>Sandeep Kumar</b> for Karma: Mentorship<br/>
                                Reason : I want to recognize you for all the guidance provided in the project.
                                - ____ City<br/>
                                Wide - Cashering System _______.</h6>
                            </div>

                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-md-2 sm-m-30px-t">
                    <div class="card" style="width: 19rem; margin-top: -170px;">
                        <div class="card-img-top card-header" style="background-color: #0e5a80;">
                            <ion-icon src="../svg/_ionicons_svg_md-star-half.svg"></ion-icon>
                            Newers Board
                        </div>
                        <div class="card-body">
                            <div class="newersBoardImage">
                                <img src="" height="50px" width="50px" class="badgeImage">
                                <h6 class="card-title">Roma</h6>
                                <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i>
                                <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i>
                                <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- row -->
        </div>
    </section>

</header>
</body>
</html>