<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../stylesheet/bootstrap.min.css" rel="stylesheet"/>
    <link href="../stylesheet/ionicons.min.css" rel="stylesheet"/>
    <link href="../stylesheet/badgeIndex.css" rel="stylesheet"/>
    <link href="../stylesheet/style.css" rel="stylesheet"/>
</head>
<header>
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container" method="GET">
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="../images/reap.png"/>
            </a>
            <img src="../images/reapfullimage.png"/>
            <!-- / -->
            <!-- Top Menu -->
            <div class="navbar-collapse top-menu flex-column collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" th:href="@{/dashboard}"><img src="../svg/si-glyph-dashboard.svg"
                                                                         class="glyphyicon">Dashboard</a></li>
                    <li><a class="nav-link active" th:href="@{/badgeIndex}"><img src="../svg/si-glyph-medal-star.svg"
                                                                                 class="glyphyicon">Badges</a></li>
                    <li><a class="nav-link" href="#services"><img src="../svg/si-glyph-light-bulb.svg"
                                                                  class="glyphyicon"></a></li>
                    <li><a class="nav-link" href=""><img src="" class="fa fa-user" style="width:30px"
                                                         onClick="showHideProfileMenu();return false;"/></a></li>

                </ul>
                <form th:action="@{'/logout'}">
                    <button id="logout" type="submit" class="btn btn-default" style="background-color: #2e6da4">Logout
                        <span class="glyphicon-log-out"></span>
                    </button>
                </form>

            </div>
            <!-- / -->

        </div><!-- Container -->
    </nav> <!-- Navbar -->

    <!--<div id="profileMenu" class="">
        <div> &lt;!&ndash;Div for image-&ndash;&gt;
            <p style="margin-left:20px; margin-right:20px; margin-bottom:-10px; margin-top:10px;"> Your Profile </p>
            <img src="" class="profileImage"/>
        </div>
        <div style="float:right; margin-right:90px; margin-top:20px;">&lt;!&ndash;Div for details-&ndash;&gt;
            <p class="profileDetailsFont">Newer Name: Roma Bhatnagar</p>
            <p class="profileDetailsFont">Email Id: rosma@gmail.com</p>
        </div>
        <div id="profileFooter">
            <div style="width:50%; float:left; text-align: center; background-color:#F5F4F4;">
                <a href="">Users</a>
            </div>
            <div style="width:50%; float:right; text-align: center; background-color:#F5F4F4;">
                <a href="">Logout</a>
            </div>
        </div>
    </div>-->


</header>
<body>
<section class="section" name="Section1" style="padding-top: 30px; padding-bottom: 20px !important;">
    <div class="container container-custom">
        <div class="row">

            <div class="col-md-5 sm-m-30px-t">

                <div class="card" style="width: 40rem;" id="badges">
                    <div class="card-img-top card-header" style="background-color: #6495ED;">
                        <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px;"> </i> Badges &
                        Points
                    </div>

                    <div class="card-body" style="height:13rem;">
                        <img src="" height="50px" width="50px" / class="badgeImage">
                        <h6 class="card-title"><span th:utext="${session.userLoggedIn.firstName}"
                                                     style="width: 20px"></span></h6>
                        <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px; color:gold;">
                            <span th:utext="${session.userLoggedIn.goldEarned}"></span></i>
                        <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px; color:silver;">
                            <span th:utext="${session.userLoggedIn.silverEarned}"></span></i>
                        <i class="ion ion-ios-star-half" style="padding-left:15px; padding-right:5px; color:brown;">
                            <span th:utext="${session.userLoggedIn.bronzeEarned}"></span>
                        </i> <br/>
                        <span style="margin-left:15px; margin-right:27px;">
                            <span th:utext="${session.userLoggedIn.goldEarned}*30+${session.userLoggedIn.silverEarned}*20+${session.userLoggedIn.bronzeEarned}*10"></span>
                        </span>
                        <span style="margin-right:27px;">0 </span>
                        <span>0 </span>
                    </div>

                    <div style="position:absolute;margin-top:12rem; margin-left: 26rem;">
                        <span style="font-size:20px;">
                            <span th:utext="${session.userLoggedIn.goldEarned}*30+${session.userLoggedIn.silverEarned}*20+${session.userLoggedIn.bronzeEarned}*10"></span>
                           pts</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8"
                 style="float: right; margin-right: 50px; background-color:#795548; margin-top: -293px;">
                <div class="box-content" style="float: left; width: 100%; margin-top: 15px;">
                    <div class="head-bar no-bg"
                         style="height: auto !important;width: 100%;float: left; border-radius: 5px 5px 0 0;">
                        <div class="head-inputs" style="color: color: #ffffff;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12" style="width: 100%; float: left;">
                                    <ul class="nav nav-tabs trending"
                                        style="margin: 0;width: 100%;display: table;border-radius: 5px 5px 0 0;float: left;font-size: 13px;position: relative;z-index: 1;font-weight: bold;text-transform: uppercase;color: #000000;border: 0;overflow: hidden;padding-left: 0;">
                                        <li class="active"
                                            style="float: none;margin-bottom: -1px;display: table-cell;text-align: center;">
                                            <a th:href="@{/allBadges}" style="color:#3E2723; font-size: 25px;">All</a>
                                        </li>
                                        <li class="active"
                                            style="float: none;margin-bottom: -1px;display: table-cell;text-align: center;">
                                            <a th:href="@{/sharedBadges}" style="color:#3E2723; font-size: 25px;">Badges
                                                Shared</a>
                                        </li>
                                        <li class="active"
                                            style="float: none;margin-bottom: -1px;display: table-cell;text-align: center;">
                                            <a th:href="@{/receivedBadges}" style="color:#3E2723; font-size: 25px;">Badges
                                                Received</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12"
                     style="position: relative;display: block;overflow: auto;padding-right: 15px;padding-left: 15px;float: left;width: 100%;background-color: white;margin-top: 5px;">
                    <div class="row" style="margin-right: -5px;margin-left: -5px;box-sizing: border-box;">
                        <div class="col-lg-11" style="padding-left: 40px !important;width: 100%;">
                            <div th:each="recognizeList:${recognizeList}">
                                <p>
                                    <strong>
                                        <td th:text="${recognizeList.givenTo}">
                                    </strong> has received</td>
                                <td th:text="${recognizeList.countRecognize}"></td>
                                from
                                <strong>
                                    <td th:text="${recognizeList.takenFrom}">
                                </strong></td> for
                                <td th:text="${recognizeList.karma}"></td>
                                <br/>
                                <td th:text="${recognizeList.reason}"></td>
                                </p><br/>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</section>
<div class="row">
    <div class="col-md-5 sm-m-30px-t">
        <input type="button" value="Reedeem Points" style="background-color:#C0C0C0; margin-left: 32rem;">
    </div>
</div>
</body>
</html>